svg.map{
    background-color: #e3f6fc;
}

g{
    stroke-width: 0.5
}

path.scotland{
    stroke: none;
    fill: #E4DBDF;
}

circle{
    stroke: white;
    fill: #401227;
}

circle.selected{
    stroke: white;
    fill: #ff0a78;
}

path.radial{
    fill: #ddd6c0;
}

text.radiallabel{
    fill: black;
}

div.information{
    width: 30%;
    float: left;
}

div.information > table{
}

div.information > svg{
}

div.map{
    float: right;
    width: 70%;
}
